
@*<div class="cart">
    <p>
        Chào mừng bạn đến với Xuu shop <span><i class="fa fa-cart-shopping"></i><a style="text-decoration: none" href="/Order/OrderDemo">Giỏ Hàng</a></span><div id="dd" class="wrapper-dropdown-2">
            @ViewBag.count sản phẩm
            <ul class="dropdown">

                <li><span>Bạn đang có @ViewBag.count sản phẩm trong giỏ hàng</span></li>

            </ul>
        </div>
    </p>

</div>*@
<div class="top-cart-block">
    <div class="top-cart-info">
        <a href="/Order/OrderDemo" class="top-cart-info-count">@ViewBag.count sản phẩm</a>
    </div>
    <i class="fa fa-shopping-cart"></i>

   
</div>
